.venv/
.venv311/
.pytest_cache/
.vscode/
__pycache__/
*.pyc
data/*.db
cache/
downloads/
dist/
build/
*.spec
api.txt
apitest.txt
radio.db
*.log
links.txt
library-import.txt
playlist.m3u8
music/*
!music/.gitkeep
